:root {
  --rale: "Raleway", sans-serif;
  --play: "Playfair Display", serif;
  --prussian-blue: #003049;
  --outer-space: #494949;
  --smoky-black: #0e0f19;
  --gainsboro: #f1f1f0;
  --green-inactive: #007a3d;
  --green-active: #00ca65;
  --red-inactive: #850000;
  --red-active: #eb5656;
  background-color: var(--gainsboro);
}

div {
  background-color: var(--gainsboro);
  font-family: var(--rale);
}
nav {
  background-color: var(--prussian-blue);
  font-family: var(--play);
  font-size: 1.2rem;
}
#placholderImg {
  max-width: 100%;
}
.list-group-item {
  background-color: var(--gainsboro) !important;
}
.list-group-item.active {
  background-color: var(--prussian-blue);
}
.active {
  background-color: var(--prussian-blue) !important;
  border-color: var(--prussian-blue) !important;
}
.text-light {
  color: var(--gainsboro);
}
.text-g {
  color: var(--outer-space);
}
.cgi {
  color: var(--green-inactive);
}
.cga {
  color: var(--green-active);
}
.rgi {
  color: var(--red-inactive);
}
.rga {
  color: var(--red-active);
}
body {
  padding: 0px;
  margin: 0px;
}

#map,
body,
html {
  height: 100%;
}
