<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" name="nums" action="{{ url_for('addData') }}" method="post">
            <label for="n1">number 1</label>
            <input type="text" name="n1" value=""> <br />
            <label for="n2">number 2</label>
            <input type="text" name="n2" value=""> <br />
            <label for="n3">number 3</label>
            <input type="text" name="n3" value=""> <br />
            <label for="n4">number 4</label>
            <input type="text" name="n4" value=""> <br />
            <label for="n5">number 5</label>
            <input type="text" name="n5" value=""> <br />
            <label for="n6">number 6</label>
            <input type="text" name="n6" value=""> <br />
            <label for="n7">number 7</label>
            <input type="text" name="n7" value=""> <br />
            <label for="n8">number 8</label>
            <input type="text" name="n8" value=""> <br />
            <label for="n9">number 9</label>
            <input type="text" name="n9" value=""> <br />
            <label for="n10">number 10</label>
            <input type="text" name="n10" value=""> <br />
            <button type="submit" name="submit">Submit my number.</button>
        </form>
    </body>
</html>
